:root {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #eeba00;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}


/* NAVBAR */

.navbar {
    position: fixed;
    background-color: #f8f6f7;
    transition: 200ms ease;
    z-index: 5;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    z-index: 5;
}

.nav-item {
    width: 100%;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;,
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 200ms ease;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: #eeba00;
}


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}




.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}


/* Header */

.buggyCodesLogo {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}


.user {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.userIMG {
    width: 5rem;
    height: 5rem;
}

#userProfileIMG {
    cursor: pointer;
}

.subtitle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: lighter;
    color: dimgrey;
    display:inline;
}

.buggyCodesHeader {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content:  center;
}

.bugShot {
    width: 5rem;
    height: 5rem;
    background-color: white;
}

.caption{
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    font-size: 0.8rem;
}

/* SEARCH BOX */

.search-box{
    background: #f8f6f7;
    height: 40px;
    border-radius: 40px;
    float: right;
}



.search-box:hover > .search-btn {
    background: white;

}

.search-btn {
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f8f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    text-align: center;
}



/* LESSONS CARDS */


.titlesContainer {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.mainTitle {
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.lessonCaption {
    text-align: center;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    background-color: #fdc689;
    padding-bottom: 0.2vw;

}

.lessonCaption2 {
    text-align: center;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    background-color: #74c5c9;
    padding-bottom: 0.2vw;

}

.lessonCaption3 {
    text-align: center;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    background-color: #f5d8d2;
    padding-bottom: 0.2vw;

}

.lessonIMG {
    margin: auto;
    background-color:#fdc689;
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 25px;
}

.lessonIMG2 {
    margin: auto;
    background-color:#74c5c9;
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 25px;
}

.lessonIMG3 {
    margin: auto;
    background-color:#f5d8d2;
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 25px;
}

#first-cardContainer {
    float: left;
}

#second-cardContainer {
    float: left;
}

#third-cardContainer {
    float: left;
}

/* BOTTOM CONTENT */

.overviewContainer {
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.boldSubtext {
    font-size: 1.15rem;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.userChart {
    width:100%;
    max-width:700px;
    z-index: 5;
}

/* Small screens */
@media only screen and (max-width: 900px) {

    .lessonCaption {
        font-size: 12px;
    }

    .lessonCaption2 {
        font-size: 12px;
    }

    .lessonCaption3 {
        font-size: 12px;
    }


    .navbar {
    display: inline-block;
    bottom: 0;
    width: 100vw;
    height: 5rem;
}

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .search-box:hover > .search-txt{
        width: 240px;
        padding: 0 6px;
    }


    .search-txt {
        width: 0;
    }



    .buggyCodesHeader {
        justify-content: space-around;
    }


}


/* Large screens */

@media only screen and (min-width: 900px) {

    .lessonCaption {
        font-size: 14px;
    }

    .lessonCaption2 {
        font-size: 14px;
    }

    .lessonCaption3 {
        font-size: 14px;
    }

    .navbar {
        display: flex;
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: block;
    }


    .navbar-nav {
        width: 16rem;
        z-index: 5;
        display: flex;
        flex-direction: column;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: 200ms ease;
    }



    .search-txt {
        width: 240px;
    }



    .buggyCodesHeader {
        justify-content: space-evenly;
    }

}