<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#da532c">

    <link rel="apple-touch-icon" sizes="180x180" href="https://buggycodes.games/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://buggycodes.games/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://buggycodes.games/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="https://buggycodes.games/favicons/safari-pinned-tab.svg" color="#5bbad5">


    <link rel="stylesheet" href="https://buggycodes.games/css/style.css">
    <link rel="stylesheet" href="https://buggycodes.games/css/loginPage.css">
 
    <link rel="stylesheet" href="https://buggycodes.games/css/bootstrap.min.css">
    <script src="https://buggycodes.games/js/bootstrap.min.js"></script>
    <script src="js/dashboardFunctions.js"></script>

  <link rel="manifest" href="./manifest.json">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#000000">
	
    <title>Login</title>
</head>

<body style="background-color: #f4dbc8">


               
   
<section class="login-clean">
    <div class="jello animated">
        <div class="illustration">
            <div class="buggyCodesLogo" id="bCLogo">
                <img src="img/bugShot.png" alt="buggyCodesLogo" class="bugShot rounded-circle border border-white" onmouseover="this.src='img/bugShot2.png'" onmouseout="this.src='img/bugShot.png'">
                <span class="caption">buggyCodes</span>

                <br>

                <div class="mb-3"> 
		<button class="btn btn-primary d-block w-100"  type="button">
		<a href="/auth/google" style="color: #ffffff">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
</svg><h6>Log in with Google</h6>
                    </a></button></div>
               
            </div>
        </div>
    </div>

   
</body>

<footer>
    <br> <br> <br>
    <div class="loginBottom">
        <h6 style="color: #f9786c">Web Technologies Project, Franco Riformato [ 0124 001968 ]</h6>
    </div>
</footer>
</html>