<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>


  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">
  <link href="css/newsPage.css" rel="stylesheet" media="screen">


  <script src="js/bootstrap.min.js"></script>
  <script src="js/dashboardFunctions.js"></script>


</head>

<header>

  <div class="buggyCodesHeader flex-container" id="main-header">

    <div class="buggyCodesLogo" id="bCLogo">
      <img src="img/bugShot.png" alt="buggyCodesLogo" class="bugShot rounded-circle border border-white" onmouseover="this.src='img/bugShot2.png'" onmouseout="this.src='img/bugShot.png'">
      <span class="caption">buggyCodes</span>
    </div>



    <div class="user" id="userdiv">
      <a href="/profile"><img class="userIMG rounded-circle border border-white" id="userProfileIMG" src=<%=userinfo.image %> alt="User Profile Picture"></a>
      <span class="caption">Hi, <%=userinfo.firstName %></span>
    </div>

  </div>

</header>

<body>

<nav class="navbar">

  <ul class="navbar-nav">

    <li class="nav-item">
      <a href="/log" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
        <span class="link-text">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
          <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
          <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
        </svg>
        <span class="link-text">News</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/profile" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <span class="link-text">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/about" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
          <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <span class="link-text">About</span>
      </a>
    </li>

  </ul>

</nav>

<br>

<div class="newsContainer row clearmargin clearpadding row-image-txt">
  <div class="newsIMG col clearmargin clearpadding" style="background-image:url(img/uglyNews.png); background-position:center;">
    <div></div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;">
    <h1>buggyCodes out now!</h1>
    <hr>
    <p>Here goes a news about buggyCodes.</p>
  </div>
</div>

<br>

<div class="newsContainer row clearmargin clearpadding row-image-txt">

  <div class="newsIMG col clearmargin clearpadding" style="background-image:url(img/uglyNews2.png); background-position:center;">
    <div></div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;">
    <h1>Another news title</h1>
    <hr>
    <p>Here goes another news about buggyCodes.</p>
  </div>
</div>

</body>

<footer> <br>  <br> </footer>

</html>